.post-container{
    margin: 60px;
   
}

.thumbnail-container{
    display: flex;
    align-items: center;
    height: 60px;
    max-width: 50%;
    border: 1px solid #EFEFEF;
    background-color: #FFFF;
  
}

.thumbnail-container > .thumbnail {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.thumbnail-container > p {
    margin: 0;
    height: 18px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

.comment-container{
    /* padding: 0px 0 0 16px; */
    width: 640px;
    /* margin: 10px 0 0 0; */
    /* padding: 0 0 0 16px; */
    background-color: #FFFF;
}

.post-buttons{
    margin: 4px 0 0 10px;
}


.comment{
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
}

.post-likes {
    padding-left: 10px;
    margin: 0;
   margin-top: 8px;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
}

.post-timestamp{
    margin: 8px 0 0 10px ;
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0.2px;
    line-height: 18px;
    text-transform: uppercase;
    color: #504f4f99;
}

.post-comment{
    display: flex;
    height: 56px;
    width: 582px;
    border-top: 1px solid #EFEFEF;
}
.comment-bar{
    margin-left: 10px;
    width: 582px;
    font-size: 14px;
    line-height: 18px;
    border: none;
    color: #99999999;
}

.more{
    /* padding: 4px 0 0 0; */
    width: 40px;
    height: 52px;
}



